* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    margin-bottom: 10px;
}

.carrito {
    padding-right: 130px;
}
#boton-carrito {
    width: 50px;
    height: 50px;
    font-family: $titulo;
    font-size: 30px;
    float: right;
    border: none;
    color: $verde;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: $gris;
}

#boton-carrito:focus {
    outline: none;
}


#selecTipo{
    border-color: $gris;
    border-radius: 5px;
    font-family: $titulo;
    color: $gris;
    font-size: 18px;
    width: 150px;
    height: 30px;
    margin: 0px auto;
    display: flex;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
   
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px 5px rgba(0, 82, 67, 0.1);
    border-radius: 10px;
}

.producto h3{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: $titulo;
    color: $azul;
}
.producto p{
    font-size: 20px;
    margin-left: 20px;
    font-family: $titulo;
    color: $gris;
}

.precioProducto {
    margin-top: -10px;
    font-size: 20px;
    margin-left: 20px;
    font-family: $titulo;
    color: $gris;
}
.boton-agregar {
    width: 100%;
    height: 48px;
    font-size: 30px;
    font-family: $titulo;
    background-color: $verde;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 24px;

}
.boton-agregar:hover {
    cursor: pointer;
    color: white;
    background-color: $gris;
    border-radius: 24px;
}
.boton-agregar:focus {
    outline: none;
}



.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    font-size: 30px;
    font-family: $titulo;
    color: $azul;
    padding-bottom: 5px;
    padding-left: 16px;
}

.modal-carrito P {
    padding-top: 4px;
    font-size: 18px;
    font-family: $titulo;
    color: $gris;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 12px;
    right: 25px;
    font-size: 30px;
    color: $verde;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    height: 60px;
    border-left: 5px solid $gris;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid $verde;
}

.boton-eliminar {
    height: 38px;
    background-color: white;
    color: $coral;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}




@media (max-width: 768px) {
    
}

@media (max-width: 576px){ 
     
}
