
#compra {
    padding-top: 250px;
    height: 200px;
}

#carritoProductos {
    text-align: center;
    padding-top: 30px;
}
.carritoProducto1 {
    text-align: center;
    padding: 40px;
    
}

.carritoProducto2 {
    text-align: center;
    padding: 40px;
    
}

.carritoProducto3 {
    text-align: center;
    padding: 40px;
   
}

.carritoProducto4 {
    text-align: center;
    padding: 40px;
    
}

.pregunta {
   padding-top: -40px;
}


@media (max-width: 768px) {
    
}

@media (max-width: 576px){ 
     
}
