@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$verde: #10A5B5;
$coral: #E56E67;
$gris: #919396;
$azul: #042F39;

$titulo: 'Nunito', sans-serif;
$texto: 'roboto', sans-serif;
